
body {
  background-color: black;
  background-image: url("../images/background.jpg");
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  text-decoration: underline;
  text-align: center;
  text-underline-offset: 2px;
}

table {
  border: 2px white;
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  color: white;
  position: relative;
  border-spacing: 25px;
  margin-right: auto;
  margin-left: auto;
}

td {
  text-align: center;
  table-layout: fixed;
  border-radius: 5px;
  height: 60px;
}

img {
  height: 200px;
  position: relative;
}